.container {
   padding: 0 2rem;
}

.heading {
   display: inline-block;
   position: relative;
   text-align: center;
}
.heading h1 {
   font-size: 4em;
}

.heading h2 {
   font-size: 2.5em;
}

.wrapper {
   padding-left: 30%;
}

.image {
   border-radius: 50%;
}
